body {
    font-family: Arial;
    margin-top: auto;
  }
  
  #main-heading {
    text-align: center;
    margin-top: none; 
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
  }
  
  #todo-input, #todo-date {
    font-size: 15px;
    padding: 10px 5px;
  }
  
  .btn-delete {
    background-color: rgb(255, 7, 7);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
  }
  
  .btn-todo {
    background-color: rgb(5, 119, 19);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
  }
   .kallal{
    background: url("https://th.bing.com/th/id/R.cd58083e5f38f2eb2835c7391145cddf?rik=%2ftWYMGXOh8Morg&riu=http%3a%2f%2fpngimg.com%2fuploads%2fbuddha%2fbuddha_PNG17.png&ehk=4KXaw9XyRXCp9V%2fhm%2btz4aFna5tXAfhl%2fovVj1jNhrw%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-image: -moz-radial-gradient(cover);
    background-repeat: no-repeat;
    height: 1100px;
    width: 1200px;
    margin-top: 10px;
   
  }
  
